
/* 
    抽调公共组件 
    包含不限于 固定按钮common-btn
    包含不限于 固定标题common-title
    包含不限于 固定tab切换common-tab
*/
.common-btn{
    color: #fff;
    height: 3rem;line-height: 3rem;font-size: 1.4rem;border-radius: 2rem;padding: 0 4rem;text-align: center;display: inline-block;background: #FFB100;}
.common-btn.none{
    color: #666;
    background: #d3d3d3;
}
.common-tab{
    color: #FFB100;
}
.common-tab a{
    height: 3rem;
    line-height: 3rem;
    width: 8rem;
    display: inline-block;
    color: #FFB100;
    font-size: 1.4rem;
    border: 1px solid #FFB100;
}
.common-tab a+a{
    border-left: 0;
    
}
.common-tab a.active{
    background: #FFB100;
    color: #fff;
}

/* 
    页面样式
    自01月27日开发后页面载入common.css
*/

.card-month{
    height: 15rem;
    border-radius: 1rem;
    color: #fff;
    padding: 1.5rem 2rem;
}
.card-month-title{
    margin-top: 3.2rem;
    
}
.card-month-explain{
    margin-top: 0.5rem;
}

h3.common-title{
    font-size: 1.8rem;
    line-height: 4.8rem;
    height: 4.8rem;
    font-weight: 500;
}

/*.common-item{
    padding: 0 2rem;
    font-size: 1.4rem;
    line-height: 4.8rem;
    height: 4.8rem;
}
.common-item+.common-item{
    border-top: 1px solid #e6e6e6;
}*/



/* img */
.img{
    display: inline-block;
}
/*.imgurl01{
    background: url(../assets/icon_attention.png) no-repeat center;
    background-size: 2.8rem 2.8rem;
    height: 4.8rem;
    width: 4.8rem;
}
.imgurl02{
    background: url(../assets/icon_WeChatpay.png) no-repeat center;
    background-size: 2.8rem 2.8rem;
    height: 5.6rem;
    width: 5.6rem;
}
.imgurl03{
    background: url(../assets/icon_Quick_default.png) no-repeat center;
    background-size: 2.8rem 2.8rem;
    height: 5.6rem;
    width: 5.6rem;
}
.imgurl03{
    background: url(../assets/icon_Quick_default.png) no-repeat center;
    background-size: 2.8rem 2.8rem;
    height: 5.6rem;
    width: 5.6rem;
}
.active .imgurl03{
    background: url(../assets/icon_Quick_active.png) no-repeat center;
    background-size: 2.8rem 2.8rem;
}
.imgurl04{
    background: url(../assets/xichejindu.png) no-repeat center;
    background-size: 18.5rem 18.5rem;
    height: 18.5rem;
    width: 18.5rem;
}
.imgurl05{
    background: url(../assets/card_12times.png) no-repeat center;
    background-size: 13rem 19rem;
    height: 19rem;
    width: 13rem;
    color: #fff;
}
.imgurl06{
    background: url(../assets/card_coupon.png) no-repeat center;
    background-size: 32rem 14rem;
    height: 14rem;
    width: 100%;
}
.imgurl07{
    background: url(../assets/icon_cardactive.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 100%;
}
.imgurl08{
    background: url(../assets/icon_wodeactive.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 100%;
}
.imgurl09{
    background: url(../assets/icon_Scancode.png) no-repeat center;
    background-size: 5.5rem 5.5rem;
    height: 5.5rem;
    width: 5.5rem;
}
.imgurl10{
    background: url(../assets/icon_noagree.png) no-repeat center;
    background-size: 1.2rem 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
}
.imgurl11{
    background: url(../assets/icon_agree.png) no-repeat center;
    background-size: 1.2rem 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
}

.imgurl12{
    background: url(../assets/icon_card.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}

.imgurl13{
    background: url(../assets/icon_Discountcode.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}

.imgurl14{
    background: url(../assets/icon_Myorder.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}

.imgurl15{
    background: url(../assets/icon_Customerservice.png) no-repeat center;
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}
.imgurl20{
    background: url(../assets/icon_Customerservice.png) no-repeat center;
    background-size: 2rem 2rem;
    height: 2rem;
    width: 2rem;
}
.imgurl21{
    background: url(../assets/icon_buycard.png) no-repeat center;
    background-size: 2.4rem 2rem;
    height: 2rem;
    width: 2.4rem;
}*/




.common-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    font-size: 1.2rem;
    height: 6rem;
    line-height: 6rem;
}

.footer-saoyisao{
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: -3.5rem;
    margin-left: -3.5rem;
    border-radius: 50%;
    width: 7.5rem;
    text-align: center;
}
.footer-text{
    height: 1.6rem;
    line-height: 1.6rem;
    width: 100%;
}
.footer-box{
    text-align: center;
    float: left;
    width: 50%;
}
.footer-box.pdr{
    padding-right: 3.75rem;
}
.footer-box.pdl{
    padding-left: 3.75rem;
}
.footer-num{
    padding-right: 12rem;
    padding-left: 3rem;
}
.footer-btn{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 6rem;
    line-height: 6rem;
    width: 12rem;
    text-align: center;
    color: #fff;
    background: #FFB100;
}
.footer-num .name{
    font-size: 1.4rem;
    line-height: 6rem;
    height: 6rem;
    display: inline-block;
}
.footer-num .num{
    font-size: 2.4rem;
    line-height: 6rem;
    height: 6rem;
    color: #FFB100;
    display: inline-block;
}
.card-xieyi{
    line-height: 2.4rem;
    font-size: 1.2rem;
    padding: 1rem;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 6rem;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
.agreement{
    padding: 0 1rem;
}
.agreement h4{
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
}
.agreement p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.card-detail-con{
    padding-bottom: 11rem;
}
/*停车确认*/
.carstop-box{
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
}
.carstop-header{
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
.carstop-header span{
    display: inline-block; 
    font-size: 1.2rem; 
    vertical-align: middle;
}
/*洗车支付*/
.common-item.active{
    background: #FFB100;
    color: #666;
    border: 1px solid #FFB100;
}
.common-item{
    background: #fff;
    color: #666;
    border: 1px solid #d3d3d3;
}
.carpay-item-box{
    padding: 0.5rem;
    width: 50%;
    float: left;
    line-height: 2.4rem;
    border-radius: 0.5rem;
    text-align: center;
}
.carpay-item{
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.carpay-pay{
    padding: 0.5rem 1rem;
    float: left;
    line-height: 2.4rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.5rem;
}
.carpay-footer{
    text-align: center;
}
/*办卡首页*/
.card{
    padding: 1rem;
    padding-bottom: 8rem;
}
.card-item{
    margin: 0.5rem;
    color: #fff;
    padding-top: 3rem;
}
.card-item-month{
    color: #fff;
    padding-top: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 0.5rem;
}
.my-header-bg{
    height: 12rem;
    background: #FFB100;
}
.my-content-item{
    width: 25%;
    float: left;
    text-align: center;
    color: #666;
}
.my-content-item p{
    font-size: 1.4rem;
    line-height: 3rem;
}
.my-header h3{
    border-bottom: 1px solid #d3d3d3;
}
.my-box{
    height: 100%;
    background: #fff;
}
.my-order-item{
    padding: 1rem 3rem;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}
.my-order-item-num{
    position: absolute;
    right: 3rem;
    top: 50%;
    font-size: 3rem;
}

.card-detail{
    background: #fff;
    padding: 1rem;
    padding-bottom: 8rem;
}





/*mint-ui*/
.mint-navbar .mint-tab-item.is-selected{
    margin-bottom: 0;
    border-bottom: 3px solid #FFB100;
    color: #FFB100
}
.mint-tab-item-label{
    font-size: 1.4rem;
}
.mint-tab-container-item{
    border-top: 1px solid #d3d3d3;
}



.fl{float: left;}
.fr{float: right;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
/* 抽调公共css */
.mgtb10{margin: 1rem 0;}
.mgtb20{margin: 2rem 0;}
.mgt10{margin-top: 1rem;}
.mgt20{margin-top: 2rem;}
.mgl10{margin-left: 1rem;}
.mgr10{margin-right: 1rem;}
.mgb10{margin-bottom: 1rem;}
.mgb20{margin-bottom: 2rem;}
.mg0{margin: 0;}

.fs12{font-size: 1.2rem;}
.fs14{font-size: 1.4rem;}
.fs16{font-size: 1.6rem;}
.fs18{font-size: 1.8rem;}
.fs20{font-size: 2.0rem;}
.fs24{font-size: 2.4rem;}
.fs32{font-size: 3.2rem;}
.fs48{font-size: 4.8rem;}
.fwb{font-weight: bold;}
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.pd10{padding: 1rem;}
.pd20{padding: 2rem;}
.pdtb10{padding: 1rem 0;}
.pdtb20{padding: 2rem 0;}
.pdb10{padding-bottom: 1rem;}
.pdb20{padding-bottom: 2rem;}
.pdt10{padding-top: 1rem;}
.pdt20{padding-top: 2rem;}
.color-yellow{color: #FFB100;}
.bgbai{
    background: #fff;
}
.wbf50{width: 50%;}
